<div>
    <h1>index page</h1>
    <li>
        {{#each products}}
            <div>
                <h2>{{this.title}}</h2>
                <p>description: {{this.description}}</p>
                <p>price : {{this.price}}€ </p>
                <p>stock: {{this.stock}}</p>
                <img src="{{this.thumbnail}}" alt="{{this.title}}" />
            </div>
        {{/each}}
    </li>
</div>


